#grid {
    display:grid;
    grid-template-columns: 5fr 1fr;
   background-color:#7F7F7F; 
}

#about {
    grid-row:span 3;
}

#showcase{
  padding:20px 70px 20px 70px;
  min-height:250px;
  background:url('immigrantsborder.jpg');
  text-align:center;
  letter-spacing: .08em;
  color:#ffffff;
  font-size: 15pt;
}


